html,body{
    background: #ffffff;
}

.contain
{
    margin: 10% 20%;
}


.grid
{
    display:grid;
    grid-template-columns:repeat(3,200px);
    /*column-gap: 20px;*/
    /*grid-column-gap: 20px;*/
    border: 2px solid black;
    width: fit-content;
    text-align: center;
}

.red
{
    background:red;
}
.green
{
    background: green;
}

.middle
{
    text-align: center;
}
.tab
{
    display: inline-block;
    height: 100%;
    width: 4%;
    background: blue;
}