html,body{
    background: #ffffff;
}

.contain
{
    margin: 10% 15%;
}


.grid
{
    display:grid;
    grid-template-columns:repeat(3,200px);
    /*column-gap: 20px;*/
    /*grid-column-gap: 20px;*/
    border: 2px solid black;
    width: fit-content;
    text-align: center;
}

.red
{
    background:red;
}
.green
{
    background: green;
}

.middle
{
    text-align: center;
}

.blue-border
{
    border-left:15px solid blue;
}

.bigger
{
    font-size:3rem;
}
.gainsboro
{
    background: gainsboro;
    padding-left: 2%;
}
.larger
{
    height: 100%;
}