html,body{
    background: #ffffff;
}

.contain
{
    margin: 5% 10%;
}



.red
{
    background:red;
}
.green
{
    background: green;
}

.middle
{
    text-align: center;
}

.blue-border
{
    border-left:15px solid blue;
}

.purple
{
    background: #6633997d;
}

.task-border
{
    border:1px solid #6633997d;
    border-bottom: none;



}
.bigger
{
    font-size:2.5rem;
}
.gainsboro
{
    background: gainsboro;
}

.column .blue-border
{
    border-left:15px solid blue;
    padding-left: 2%;
}

.larger
{
    height: 100%;
}

.round
{
 border-radius: 290486px;
}

.noPadding
{
    padding-left: 0;

}

.sub
{
    vertical-align: sub;
}

.long-button{
    display: block;
    width: 100%;
    text-align: left;
    border: 0;
    height: fit-content;
}