<!DOCTYPE html>
<html lang= "en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace ="fragment :: heading"></head>

<body th:class="contain">
<h1 class=""> Welcome my ToDo List</h1>
<!--title is the key, list of codecrew is the value-->
<h1 th:text="${title}"></h1>
<!-- name is the key, teacher is the values-->
<div th:class="grid">
    <div th:class="item">Task</div>
    <div th:class="item">Importance</div>
    <div th:class="item">Urgency</div>
</div>
<div th:each = "alltasks : ${task}">
    <div th:class="grid">
        <div th:class="item" th:text="${alltasks.task}"></div>
        <div th:class="item" th:text="${alltasks.important.level}"></div>
        <div th:class="item" th:text="${alltasks.urgent.level}"></div>
    </div>
    <div></div>
</div>
<a th:href="@{addTask}">Add task</a>
</body>
</html>