<!DOCTYPE html>
<html lang= en xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}">Title</title>
    <link rel="stylesheet" th:href="@{css/base.css}">
</head>
<body th:class="contain">
<h1 class=""> Welcome to my ThymeLeaf Project with arrays</h1>
<!--title is the key, list of codecrew is the value-->
<ul th:text="${title}"></ul>
<!-- name is the key, teacher is the values-->
<li th:each = "name : ${teacher}" th:text="${name}"></li>
<a th:href="@{addStaff}">Add staff</a>
</body>
</html>