<!DOCTYPE html>
<html lang= "en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace ="fragment :: heading"></head>

<body th:class="contain">
<h1 class=""> Welcome my ToDo List</h1>
<!--title is the key, list of codecrew is the value-->
<h1 th:text="${title}"></h1>
<!-- name is the key, teacher is the values-->
<div class="columns ">
    <div class="column is is-three-fifths">Task</div>
    <div class="column">Importance</div>
    <div class="column">Urgency</div>
</div>
<div th:each = "alltasks : ${task}">
    <div class="columns">
<!-- Varibles for ToDO model-->
        <div class="column is is-three-fifths" th:text="${alltasks.task}"></div>
        <div class="column" th:text="${alltasks.important.level}"></div>
        <div class="column" th:text="${alltasks.urgent.level}"></div>
    </div>
</div>
<a th:href="@{addTask}">Add task</a>
</body>
</html>